{% extends "base.html.twig" %}

{% block body %}
    <body>
    <h1>Bücher</h1>
    {% for buch in buecher %}
        <p>
            {{ buch.titel }}
            <small>von {{ buch.autor }}</small>
            <br>
            <small>(ISBN: {{ buch.isbn }}) Int. Id: {{ buch.id }}</small>
            <br>
            Kaufpreis: {{ (buch.kaufPreis/100)|number_format(2, ',', '.') }} &euro;
            {% if buch.zumVerkaufFreigegeben %}; Verkaufspreis: {{ (buch.verkaufsPreis/100)|number_format(2, ',', '.') }} &euro;{% endif %}
        </p>
        Verleihvorgänge:<br>
        <ul>
            {% for verleihVorgang in buch.verleihVorgaenge %}
                <li>
                    {% if verleihVorgang.istAbgeschlossen() %}
                        Vom {{ verleihVorgang.ausleihDatum|date('d.m.Y') }} für {{ verleihVorgang.tage }} Tag(e)
                    {% else %}
                        {% if verleihVorgang.tage == 0 %}
                            Seit heute
                        {% else %}
                            Seit {{ verleihVorgang.tage }} Tag(e)
                        {% endif %}
                        ({{ verleihVorgang.ausleihDatum|date('d.m.Y') }})
                    {% endif %}
                    von {{ verleihVorgang.student.name }} ausgeliehen
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <div class="grid">
        <div class="item header einkauf einkauf--0"><h1>Einkauf</h1></div>
        <div class="item header verleih verleih--0"><h1>Verleih</h1></div>
        <div class="item header verkauf verkauf--0"><h1>Verkauf</h1></div>
        {% for event in eventLog %}
            {% set class = event.getFullyQualifiedClassName() %}
            {% set context = 'Einkauf' in class ? 'einkauf' : (('Verleih' in class) ? 'verleih' : 'verkauf') %}
            <div class="item {{ context }} {{ context }}--{{ loop.index }}">
                <h3>{{ event.getShortClassName() }}</h3>
                <div class="mb-1">
                    <button onclick="toggle('details_{{ loop.index }}');">Event Payload anzeigen/ausblenden</button>
                </div>
                <div id="details_{{ loop.index }}" class="hidden">
                    {{ dump(event.getPayload()) }}
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}

{% block stylesheets %}
    {% set rows = eventLog|length %}

    {% set gridTemplateAreaRows = [''] %}
    {% for i in 0..rows %}
        {% set gridTemplateAreaRows = gridTemplateAreaRows|merge(['"a'~i ~ ' b'~i ~ ' c'~i~'"']) %}
    {% endfor %}

    <style>
        .mb-1 {
            margin-bottom: .25rem;
        }

        pre {
            margin: 0;
            border: 1px solid #868686;
            background: #fff;
            padding: .25rem;
        }

        .header {
            text-align: center;
        }

        .item {
            border: 1px solid #868686;
            padding: .5rem;
        }

        .hidden {
            display: none;
        }

        .grid {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: {{ gridTemplateAreaRows|join('\n')|raw }};
        }

        .einkauf {
            background: #baed91;;
        }

        .verleih {
            background: #b2cefe;
        }

        .verkauf {
            background: #fea3aa;
        }


        {% for i in 0..rows %}
        .einkauf--{{ i }} {
            grid-area: a{{ i }};
        }

        .verleih--{{ i }} {
            grid-area: b{{ i }};
        }

        .verkauf--{{ i }} {
            grid-area: c{{ i }};
        }

        {% endfor %}
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function toggle(id) {
            let element = document.getElementById(id);

            element.classList.toggle('hidden');
        }
    </script>
{% endblock %}

